.char {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: "Arial";
	charNode-rendering: "geometricPrecision";
	dominant-baseline: "hanging";
	font-size:15px;
	fill:#000000
}